@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  /* couler de fond*/
  --color-main: #F5F7FA;
  --color-header: #e5e7eb;
  --color-border: #e0e0e0;

  /* Couleurs pour le texte */
  --text-title-main: #111827;
  --text-subtitle: #374151;
  --text-secondary: #6b7280;
  --text-pokemon-id: #9ca3af;

  /* Grass */
  --type-grass: #8bbe8a;

  /* Poison */
  --type-poison: #a552cc;

  /* Fire */
  --type-fire: #ffa756;

  /* Water */
  --type-water: #58abf6;

  /* Bug */
  --type-bug: #8bd674;

  /* Flying */
  --type-flying: #748fc9;

  /* Ice */
  --type-ice: #91d8df;

  /* Psychic */
  --type-psychic: #ff6568;

  /* Electric */
  --type-electric: #f2cb55;

  /* Ground */
  --type-ground: #f78551;

  /* Rock */
  --type-rock: #d4c294;

  /* Normal */
  --type-normal: #b5b9c4;

  /* Dark */
  --type-dark: #6f6e78;

  /* Fairy */
  --type-fairy: #eba8c3;

  /* Dragon */
  --type-dragon: #7383b9;

  /* Steel */
  --type-steel: #417d9a;

  /* Ghost */
  --type-ghost: #8571be;

  /* Fighting */
  --type-fighting: #eb4971;
}
.text-style {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #333;
}

.titre {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #333;
}

.texte {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #666;
}

.bird {
  animation: float 3s ease-in-out infinite;
  transform-style: preserve-3d;
}

/*animation pokeball*/
@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotateY(0);
   
  }
  50% {
    transform: translateY(-20px) rotateY(10deg);
    
  }
}

.anime{
    animation: scrollAnimation ease 3s;
}

@keyframes scrollAnimation {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.ash{
     animation: animate 3s ease-in-out infinite;
}
@keyframes animate {
  0%,100% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}


/* Pokeball loader animation style */
.pokeball-loader {
  width: 3vh;
  height: 3vh;
  animation: spin 1s linear infinite;
  position: relative;
}

.pokeball-loader::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
